<p> Today's exercise is <%= @session.exercise.humanize(capitalize: false) %></p>
<table>
  <tbody>
    <% @session.sets.each do |set| %>
      <tr>
        <td><%= set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Finished", sessions_path(id: @session, :method => :post)%>
