<h1>THE TEST</h1>
<p>Just do as many pullups as you can.</p>
<p>Don't cheat yourself, do the pullups correctly.</p>
<p>During the test you count only these pullups during which you managed to raise your chin above the pullup bar.</p>
<p>You also don't count the last pullup which you didn't do completely.</p>
