
<p>Your current level is <%=@schedule.level%></p>

<% if @schedule.current_session.start_date > DateTime.current%>
  <p>Session <%=@schedule.sessions.count%> starts on <%=@schedule.current_session.start_date.strftime("#{@schedule.current_session.start_date.day.ordinalize} of %B")%></p>

<p>See you then</p>
